<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRUEBA</title>
</head>
<body>
    home.html
    {% if request.user.is_authenticated %}
        <p>Bienvenido {{request.user.username}}! </p>
        <a href="{% url 'usuarios:logout' %}">Cerrar sesion</a>
    {% endif %}
    <h1>PAGINA DE PRUEBA</h1>
    <a href="{% url 'usuarios:bienvenida' %}">Zona de usuarios</a>
    <a href="{% url 'usuarios:registro' %}">Registrarse</a>
    <a href="{% url 'usuarios:login' %}">Iniciar sesion</a>

</body>
</html>